@import url(reset.css);


body{
  width:100vw;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to bottom right, #777, #ddd);
  height: 100vh;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  text-align:center;
  font-size:3em;
  margin: auto;
}
#back,
#next{
  background-color: #00000069;
}

#contentDot{

position: absolute;

height: 2em;

bottom: 0;

background: #00000061;

width: 100%;

display: flex;

flex-direction: row;

justify-content: space-around;

align-items: center;
}

.dot{
  
content: '';
  
margin: auto;
  
border: 1px solid white;
  
border-radius: 1em 1em;
  
background: white;
  
width: 1em;
  
height: 1em;
}
#back {

position: absolute;

font-size: 8em;

top: 50%;

left: 0;
}
.activeDot{
  
background-color: #8c8c8c;
}
#next {

position: absolute;

font-size: 8em;

top: 50%;

right: 0;
}
#slide{
  max-width: 90vw;
  display: block;
  margin: auto;
  position: relative;
}
#estado{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:#00000063;
  display: flex;
  justify-content: center;
  align-items: center;
}
#estado span{
  top:50%;
  left:50%;
  color: #ffffff;
  font-size:2.5em;
  padding:.4em;
  background-color: #999ba087;
  border-radius: .5em .5em;
  border: 5px solid #ffffff;
  display: inline-block;
  box-shadow: 20px 20px 18px 0px #00000080;
}
#contenedorImg{
  width: 100%;
  }

.activa{
  border: 2px solid black;
}

li:not(.activa){
  display:none;
}

img {
  display:block;
  max-width: 80vw;
  width: 70vw;
  height: 70vh;
}

li {
  height: 100%;
  min-width: 100%;
  float: left;
  list-style: none;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100%;
}

li img{
  transition: opacity 1.4s;
}

@media only screen and (max-width: 600px) {
  body{
    width:100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1{
    text-align:center;
    font-size:3em;
    height: 5vh;
  }
  
  #back {
  position: absolute;
  font-size: 8em;
  top: 50%;
  }
  
  #next {
  position: absolute;
  font-size: 8em;
  top: 50%;
  }

  #slide{
    max-width: 60vw;
    display: block;
    margin: auto;
  }
  #estado{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #estado span{
    top:50%;
    left:50%;
    font-size:2.5em;
    padding:.4em;
  }
  #contenedorImg{
    width: 100%;
    }
  
  img {
    display:block;
    width:100%;
    min-width:100%;
    min-height: 100%;
  }
  
  li {
    height: 100%;
    min-width: 100%;
    float: left;
    min-height: 100%;
  }
  
  li img{
    transition: opacity 1.4s;
  }
}